<form class="m-10" action="">
    <p class="text-lg ">Title</p>
    <input class="border-2" [(ngModel)]="book.title" name="title" type="text">
    <p class="text-lg ">Price</p>
    <input class="border-2" [(ngModel)]="book.price" name="price" type="number">
    <p class="text-lg ">Description</p>
    <input class="border-2" [(ngModel)]="book.desc" name="desc" type="text">
    <p class="text-lg ">Author</p>
    <input class="border-2" [(ngModel)]="book.author" name="author" type="text">
    <button class="block px-4 py-2 bg-blue-500 text-white my-4 " (click)="onSubmit()">Submit</button>
</form>